streamlit
streamlit-option-menu
streamlit-folium
folium
requests
pillow
pandas
plotly
prophet
numpy
pymongo
bcrypt
pyjwt
tensorflow
google-generativeai
matplotlib
seaborn
scikit-learn
xgboost
